<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <div class="container">
          <div class="site">

            <div class="kbox">
              <center>
                  <div id="ks">
                       <p id="kiss">K.I.S.S.</p>
                       <p id="stupid">Keep It Simple, Stupid!</p>
                  </div>
              </center>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  {{site.uname}}<br />
                  An old lonely Boy<br />
                </p>
              </div>
              <div class="contact">
                <p>
                  github: <a href="http://www.github.com/alone-walker">github.com/alone-walker</a><br />
                  email: {{site.email}}
                </p>
              </div>
              <div id="circle">
                <p id="panic">DON'T<br />PANIC</p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
    </body>
</html>
